#typeLabel {
    font-weight: bold;
    text-align: center;
    grid-area: typeLabel;
}

#quanityLabel {
    font-weight: bold;
    text-align: center;
    grid-area: quanityLabel;
}

#type{
    grid-area:type;
    
}

#nums{
    grid-area:nums;
    
}

.submit{
    grid-area: submit; 
    background-color:rgba(93, 179, 230, 0.5);
    border-radius: 20px;
    margin-top: 5px
}
.total{grid-area:total}

.adiv {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    'nameLabel emailLabel emailLabel'
    'name email email'
    'typeLabel typeLabel quanityLabel'
    'type type nums'
    'subtotal tax total'
    '. submit .'
    ;
}

.nameLabel, .emailLabel{
    text-align: center;font-weight:bold
}

.nameLabel{grid-area:nameLabel}
.emailLabel{grid-area:emailLabel}
#names{grid-area:name}
#email{grid-area: email}
.details{
    display:none;
    padding:0px 100px
}

.images {
    height: 200px;
    width: 300px;
    border-top: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.uk-position-relative{
    width:100%;
    background-color: black;
}

#header{
    color:white
}

html{padding:0;margin:0;height:100%;width:100%}


body {
    background: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightsteelblue;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px solid black
}

h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding:15px;
    text-align: center;
}

h2 {
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    color:orange !important
}



h2:hover {
    color: lightslategray;
    font-size: 200%; 
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
    width: 50%;
    max-height: 40%;
    border: 2px dashed black;
    left: 25%;
    background-color: lightgray;
}

main{
    padding-top: 5%;
    padding-bottom: 5;
    text-align: center;
}

aside {
    margin-left: 2%;
    height: 100%;
    width: 30%;
}

footer {
    text-align: center;
}

ul img{
    height: 500px;
    
}


@media only screen and (max-width: 1164px) {

.adiv{
    grid-template-areas: 
    'nameLabel'
    'name'
    'emailLabel'
    'email'
    'typeLabel'
    'type'
    'quanityLabel'
    'nums'
    'subtotal'
    'tax'
    'total'
    'submit'
    
}

#nums{
   padding-left:45%
}

}




@media only screen and (max-width: 700px) {
.details h3{
font-size: 3.5vw
}
}