#typeLabel {
    font-weight: bold;
    text-align: center;
    grid-area: typeLabel;
}

#quanityLabel {
    font-weight: bold;
    text-align: center;
    grid-area: quanityLabel;
}

#type{
    grid-area:type;
    
}

#nums{
    grid-area:nums;
    
}

.submit{grid-area: submit;}
.total{grid-area:total}

.adiv {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    'typeLabel quanityLabel'
    'type nums'
    'submit submit'
    'total total'
    ;
}