#typeLabel {
    font-weight: bold;
    text-align: center;
    grid-area: typeLabel;
}

#quanityLabel {
    font-weight: bold;
    text-align: center;
    grid-area: quanityLabel;
}

#type{
    grid-area:type;
    
}

#nums{
    grid-area:nums;
    
}

.submit{grid-area: submit;}
.total{grid-area:total}

.adiv {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    'nameLabel emailLabel'
    'name email'
    'typeLabel quanityLabel'
    'type nums'
    'submit submit'
    'total total'
    ;
}

.nameLabel, .emailLabel{
    text-align: center;font-weight:bold
}

.nameLabel{grid-area:nameLabel}
.emailLabel{grid-area:emailLabel}
#names{grid-area:name}
#email{grid-area: email}
.details{
    display:none
}
